body{
    margin-top: 70px;
    background:#b3b3b3;
}

.footer{
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    min-height: 30px;
    border-radius: 3px;
    margin-top: 80px;
}
.footer h1{
    font-size: 15px;
    padding-top:7px; 
}